@import '@/styles/mixins';

.header {
    padding: 16px !important;
    border-bottom: 1px solid $gray-300;

    .title {
        font-size: 14px;
        font-weight: 600;
    }
}


.body {
    padding: 16px !important;

    .drop_title {
        font-size: 16px;
    }

    .search_wrapper {
        position: relative;


        .suggestedCities {
            margin-top: 10px;
            border-radius: 12px;
            position: absolute;
            top: 50px;
            background-color: #fff;
            overflow: auto;
            padding: 10px;
            font-size: 14px;
            color: $gray-900;
            font-weight: 500;
            width: 100%;
            border: 1px solid rgba(0,0,0,.2);

            p {
                &:hover {
                    color: $primary;
                    cursor: pointer;
                }
            }
        }
    }

    .popular_cities {
        color: $primary;
        font-size: 14px;
        margin-top: 20px;
    }

    .cities {
        font-size: 14px;
        color: $gray-900;
        font-weight: 500;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        column-gap: 24px;

        p {
            &:hover {
                color: $primary;
                cursor: pointer;
            }
        }
    }
}