@import '@/styles/mixins';

.catalog_drop_wrapper {
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    .catalog_drop_item {
        color: $gray-900;
        margin: 0;
        padding: 10px 0;
        transition: all .2s;

        &:hover{
            color: $primary;
        }
    }


}

.catalog_drop_item{
    cursor: pointer;
}