@import '@/styles/mixins';

.drop_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.first_level {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
    border-right: 1px solid $gray-400;
}

.first_level_wrapper {
    display: flex;
    justify-content: space-between;
    transition: all .2s;
    cursor: pointer;
    color: $gray-600;
    font-weight: 500;   

    &.select {
        color: $gray-900;
    }

    &:hover {
        color: $primary;
    }
}

.first_level_item {
    border-bottom: 1px solid $gray-500;
}

.second_level {
    padding-right: 20px;
    border-right: 1px solid $gray-400;
    .first_level_wrapper{
        margin-bottom: 20px;
    }
}

.third_level {
    padding-right: 20px;
    border-right: 1px solid $gray-400;
    .first_level_wrapper{
        margin-bottom: 20px;
    }
}

.second_drop {
    button {

        justify-content: space-between !important;
        white-space: normal;
        text-align: left;
    }
}

.popularArticle{
    // background-color: red;
    padding: 20px 0;

    .title{
        margin-bottom: 16px;
        font-weight: 600;
        color: $gray-900;
    }
    img{
        margin-bottom: 16px;
    }
    .author{
        font-weight: 500;
        font-size: 12px;
        color: $primary;
        margin-bottom: 4px;
    }
    .nameArtcile{
        font-weight: 700;
        color: $gray-900;

    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade {
    opacity: 0; // invisible from the start
    animation: fadeIn ease-in 1; // call our keyframe named fadeIn, use animation ease-in and repeat it only 1 time
    animation-fill-mode: forwards; // this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)
    animation-duration: .5s;
    animation-delay: 0.3s; // delay to start
}