@import '@/styles/mixins';

.breadCrumbs {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 8px;

    span {
        font-size: 14px;
        // padding-bottom: 5px;
    }

    span:hover {
        color: $primary;
        cursor: pointer;
    }

    .navItem {
        display: flex;
        gap: 8px;
        align-items: center;

        color: $gray-600;
        cursor: pointer;

        i {
            font-size: 8px;
        }
        .current {
            border-bottom: 1px solid $gray-500;
        }


    }

}