@import '@/styles/mixins';

.header {
    position: relative;
    @include fz(16,12);
    height: 68px;
    background-color: #fff;
    padding: 0 20px;

    .header_inner {
        // position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        height: 68px;

        .desctop_search{
            margin: 0 10px;
            display: none;
            width: 180px;
            @media(min-width:1101px) {
                display: block;
            }
        }

        @media(max-width:1024px) {
            font-size: 12px;
        }

        .logo_wrapper {
            display: none;

            @media(min-width:901px) {
                display: block;
            }
        }

        .burger_wrapper {
            display: none;

            @media(max-width:900px) {
                padding: 10px 0;
                display: block;

                svg {
                    cursor: pointer;

                    &:hover {
                        path {
                            fill: $primary;
                        }
                    }
                }
            }
        }

        @media(max-width:900px) {
            padding: 16px 0;
        }

        width: 100%;

        .searchContainer {
            display: none;
            max-width: 320px;
            // margin-left: auto;
            // margin-right: auto;
            @media(max-width:1100px) {
                display: block;
            }
            @media(max-width:900px) {
                margin-right: auto;
            }

            &.widthFull {
                width: 100%;

            }

            .search_btn {
                border: none;
                background: none;

                svg {
                    path {
                        fill: $gray-700;
                    }

                    &:hover {
                        path {
                            fill: $primary
                        }
                    }
                }
            }

        }

        ul,
        li {
            margin: 0;
        }

        svg {
            max-width: none;
        }
    }

}

.header_auth {
    padding: 8px 12px;
    background-color: $gray-200;
    border-radius: 8px;
    gap: 12px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    width: 100%;

    .auth_controls {
        padding: 0 !important;
        border-radius: 50% !important;

        a {
            margin: 0;
        }
    }
}



.ava_btn {
    padding: 0 !important;
    overflow: hidden;
    border-radius: 50% !important;
    border: none !important;
    margin-left: 20px;

    img {
        max-width: none;
        display: block;
    }
}

.login_btn {
    padding: 8px 12px;
    width: 100%;
    background-color: $gray-200;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        padding: 0 !important;
        font-size: 12px;
        font-weight: 500;
        color: $gray-800;
    }
}

.off_canvas {
    max-width: 230px !important;

    .header {
        // width: 100%;
        padding: 22px 18px !important;
        padding-bottom: 0 !important;


        .name {
            font-size: 12px;
            color: $gray-800;
            font-weight: 600;
        }
    }
}


.body {
    padding: 30px !important;
    padding-top: 24px !important;
    display: flex;
    flex-direction: column;
    height: 100%;
}